tmp/*
build/*
build_dp/*
results/*
results
scripts/verification/*pyc
scripts/*.pyc
scripts/conf/*.pyc
scripts/pluto/*.pyc
scripts/sisc/*.pyc
src/.*.swp
src/.*.swo
src/kernels/.*.swp
src/kernels/.*.swo
src/.cproject
src/.project
pluto_examples/gen_kernels/lbpar*/.dumpstmttxt
pluto_examples/gen_kernels/lbpar*/3d*.lbpar.pluto.cloog
pluto_examples/gen_kernels/lbpar*/lbpar_3d*
pluto_examples/gen_kernels/lbpar*/print_utils.h
pluto_examples/gen_kernels/lbpar*/tile.sizes
